<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Drinkers</h1>
  </div>
</div>

<div class="container">
  <h2 class="text-center font-weight=light">Drinkers</h2>
  <br>
  <p-table [value]="drinkers">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Phone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-drinker>
      <tr *ngIf="drinker.name != 'AKIN'">
        <td>
          <a routerLink="/drinker/{{ drinker.name }}">
            {{ drinker.name }}
          </a>
        </td>
        <td>{{ drinker.address }}</td>
        <td>{{ drinker.city }}</td>
        <td>{{ drinker.state }}</td>
        <td>{{ drinker.phone }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>